<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Trainings</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th> Name </th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${trainings.empty}">
        <td colspan="2"> No Trainings Available </td>
    </tr>
    <tr th:each="training : ${trainings}">
        <td><span th:text="${training.name}">  </span></td>
    </tr>
    </tbody>
</table>
<!--<button type="button" class="btn btn-primary">-->
<!--    <a th:href="@{'/training/add'}" style="color: white">Add training</a>-->
<!--</button>-->

</body>
</html>